

<head>
  <title></title>
  <meta charset="utf-8">
  

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
<br>
<div class="container">
  <div class="jumbotron" align="center">
    <h1>Meeting Sign In</h1>      
    <h3>Welcome</h3>
    <h4><%= Time.now %></h4>
    
  </div>

  <%= link_to 'IBO Log In' , new_signin_path, class: "btn btn-success btn-lg btn-block text-white" %>
  <br>
 
  <%= link_to 'Home' , "../", class: "btn btn-primary btn-lg btn-block text-white" %>

  
  <br>

  </div>

<br>

<div class="container text-center">

 
                <table class="table table-striped table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>IBO Name</th>
                      <th>Candidate</th>
                    </tr>
                  </thead>

                  <tbody>
                  <% @signins.each do |signin| %>
                      <tr>
                        <td><%= link_to signin.Iboname , edit_signin_path(signin), class: "text-dark"%></td>
                        <td><%= signin.Candidate %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
  
</div>
