<p id="notice"><%= notice %></p>

<p>
  <strong>Iboname:</strong>
  <%= @signin.Iboname %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @signin.Candidate %>
</p>

<%= link_to 'Edit', edit_signin_path(@signin) %> |
<%= link_to 'Back', signins_path %>
