<p id="notice"><%= notice %></p>

<h4>
  <strong>Iboname:</strong>
  <%= @signin.Iboname %>
</h4>

<h4>
  <strong>Candidate:</strong>
  <%= @signin.Candidate %>
</h4>

<br>
<div class-"container">
<%= link_to 'Edit', edit_signin_path(@signin) , class: "btn btn-primary btn-lg btn-block text-white"%>
<br>
</div>
<%= link_to 'Done', signins_path, class:"btn btn-success btn-lg btn-block text-white" %>
